* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column; 
}

#skill-info {
    display: flex;
    background: pink;
    padding: 10px;
    flex-direction: column;
}

#skills {
    display: flex;
    justify-content: space-evenly;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}